.chatbot-button {
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 70px;
  height: 70px;

  background: #2e7d32;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;

  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0,0,0,0.25);

  z-index: 9999;
}

.chatbot-button:hover {
  transform: scale(1.1);
}


/* Chat window */

.chat-window {
  position: fixed;
  bottom: 110px;
  right: 25px;

  width: 350px;
  height: 500px;

  background: white;
  border-radius: 20px;

  box-shadow: 0 15px 40px rgba(0,0,0,.2);

  display: flex;
  flex-direction: column;

  overflow: hidden;

  z-index: 9999;
}

.chat-header {
  background: #2e7d32;
  color: white;
  padding: 18px;
  font-weight: bold;
  font-size: 18px;
}

.chat-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-footer {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-footer input {
  flex: 1;
  border: none;
  padding: 15px;
  outline: none;
}

.chat-footer button {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
}
